
:root {
    /* Colores base */
    --color-de-fondo: #1a1a1a;
    --color-de-link: #171717;
    
    /* Colores de borde*/
    --color-de-borde:#202020;

    /* Colores de sombra */
    --color-de-sombra:#8b8b8b;

    /* Color palabras del menú */
    --color-de-palabras_menu:#171717;

    /* Colores hover */
    --color-fondo-hover-palabras-menu:#8b8b8b;
    --color-hover-palabras-menu:#F5F5F5;

    /* Colores de íconos del menú*/
    --color--iconos--menu--1: #171717;
    --color--iconos--menu--2: #f5f5f5;

    /* dark mode */
    --color-de-link-dark: #f5f5f5;

    /* Colores del boton light o dark mode */

    --color-boton-light: #ffffff;
    --color-boton-dark: #000000;

    /* colores de enlaces en modo dark */

    --color-de-link-dark: #f5f5f5;

    /* color de textos en modo dark */

    --color-de-texto-dark: #f5f5f5;

    /* texto de contactame */

    --color-de-texto-contactame-dark: #171717;

    /* color iconos */

    --color-de-iconos-dark: #f5f5f5;

    /* Estilo de bordes del botón dark mode */

    --color-borde-boton-dark: #f5f5f5;
    

}


html, body {
    color: var(--color-de-link-dark);
    background-color: var(--color-de-fondo);
    /* background-color: var(--color-de-fondo);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    height: auto;
    min-height: 100%;
    line-height: 1.6; */
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-boton-dark);
}

a:hover {
    text-decoration: none;

}

span, 
p {
    color: var(--color-de-texto-dark);
}

.texto__más_import{
    color: var(--color-de-texto-dark);
}

.boton_navegacion{
    color: var(--color-de-texto-dark);
}

.navegacion.visible{
    background-color: var(--color-de-fondo);
}

h3{
    color: var(--color-de-texto-contactame-dark);
}

#email{
    color: var(--color-de-texto-contactame-dark);
}

.icono_footer{
    color: var(--color-de-iconos-dark);
}

.cabecera__abrir__menu,
.navegacion__cerrar__menu{
    color: var(--color-de-iconos-dark);
}
